services:
  ms-sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${SA_PASSWORD:?SA_PASSWORD is required}
      MSSQL_PID: ${MSSQL_PID:-EXPRESS}
    ports:
      - "1433:1433"
    networks:
       - default
  task-management-tool-api:
    build: .
    ports:
      - "8080:8080"
    networks:
      - default
    depends_on:
      - ms-sql-server
    restart: always